.DarkLight-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DarkLight-container h1 {
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.5px;
}

.DarkLight-container button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
