@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap');

:root {
  color-scheme: light dark;
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #070724;
  }
}
